<h3>メールアドレス無しで登録できる</br>チャットアプリです</h3>
<div class ="room-links">
  <%= link_to "ルーム一覧", rooms_path, class: "button bdblue" %>
  <%= link_to "ルーム作成", new_room_path, class: "button bdblue" %>
</div>

  <% if signed_in? %>
    <div class="login-status">
      <p><%= current_user.name %>さん ようこそ</p>
      <%= link_to "ログアウトする", logout_path, class: "button bred", method: :delete %>
    </div>
  <% else %>
    <div class="signin-signup-links">
      <%= link_to "ユーザー登録", new_user_path, class: "button brblue" %>
      <%= link_to "ログイン", login_path, class: "button bgreen" %>
    </div>
  <% end %>

