<h1>チャットルームです</h1>
<h2>部屋名: <%= @room.name %></h2>
<div>
  <h4>部屋を消去する</h4>
  <%= form_with model: @room, method: :delete, data: { confirm: '本当に消しますか？' }, local:true do |f| %>
    <%= f.label :password, "消去パスワード" %>
    <%= f.text_field :password, placeholder: "password" %>
    
    <%= f.submit "消去"  %>
  <% end %>
</div>
<h3>メッセージ↓</h3>
<div id="message-data">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  <% end %>
</div>

<div class="message-form-space"></div>

<div class="message-form">
  <form>
    <h3>投稿フォーム</h3>
    <input type="hidden" id="room_id" value="<%= @room.id %>">
    <% if signed_in? %>
      <textarea chat-data-behavior="room_speak" class="text-area"></textarea>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% else %>
      <p>ログインをしてください</p>
      <%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </form>
</div>