<%= link_to "<< 部屋一覧へ戻る", rooms_path %>
<div class="room-delete-form">
  <h4>部屋を消去する</h4>
  <%= form_with model: @room, method: :delete, data: { confirm: '本当に消しますか？' }, local:true do |f| %>
    <%= f.text_field :password, placeholder: "password" %>
    
    <%= f.submit "消去"  %>
  <% end %>
</div>
<h2>部屋名: <%= @room.name %></h2>
<h3>メッセージ↓</h3>
<div id="message-data">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  <% end %>
</div>

<div class="message-form-space"></div>

<div class="message-form">
  <form>
    <input type="hidden" id="room_id" value="<%= @room.id %>">
    <% if signed_in? %>
      <textarea chat-data-behavior="room_speak" placeholder="メッセージ投稿フォーム" class="text-area" ></textarea>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% else %>
      <div class="not-login">
        <p>メッセージを送るには会員登録が必要です</p>
        <%= link_to "ユーザー登録", new_user_path, class: "button brblue" %>
        <%= link_to "ログイン", login_path, class: "button bgreen" %>
      </div>
      
    <% end %>
  </form>
</div>